#mensaje{
    display:none;
}
form{
    margin-left: 20px;
    width: 80%;
    padding: 1em;
}
form ul{
    list-style: none;
    padding: 10px;
    margin: 0px;
}
label{
    display: inline-block;
    width: 140px;
    text-align: left;
    margin-bottom: 10px;
}
input{
    width: 40%;
    height: 20px;
    border: 1px solid black;
    padding: 3px;
}
.lenguaje{
    margin-top: 20px;
    margin-bottom: 20px;
}
.lenguaje label{
    width: auto !important;
}
.lenguaje input{
    width: auto !important;
}
p{
    margin-left: 5%;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: auto;
}
#nivel{
    margin-top: 10px;
}
.tiempo{
    margin-top: 20px;
    margin-bottom: 20px;
}

#tiempo{
    margin-top: 10px;
}
.tiempo label{
    width: auto !important;
}
.tiempo input{
    width: auto !important;
}
textarea{
    width: 40%;
    height: 100px;
}
#enviar{
    margin-top: 20px;
    margin-left: 30%;
    border-color: blue;
}
#limpiar{
    margin-left: 20%;
    border-color: red;
}
/*Eliminar las flechas de number*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

